.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

form {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  background-color: rgba(40, 44, 52, 0);
}

textarea {
  background-color: rgba(40, 44, 52, 0);
  border: 0;
  font-size: 20px;
  color: rgb(202, 0, 0);
  width: 100%;
}

input[type="title"] {
  font-size: 30px;
  width: 400px;
  font-weight: 700;
  background-color: rgba(40, 44, 52, 0);
  color: rgb(202, 0, 0);
  border: 0;
}

input {
  width: 400px;
  color: rgb(202, 0, 0);
  margin-bottom: 10px;
  display: block;
  border: 1;

}



p {
  font-size: 20px;
  width: 100%;
  background-color: rgba(40, 44, 52, 0);
}

ul {
  width: 50%;
  margin-left: 0px;
  padding-left: 0px;
}

.card {
  border: 3px solid rgb(207, 207, 207);
  border-radius: 3%;
  margin: 10px;
  padding: 20px;
  width: 400px;
  overflow: 'hidden';
  background-color: rgb(255, 251, 220);
}


.top {
  margin: 10px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}